@import '../../components/mixins.scss';
@import '../../components/variables';

.res-one-apply,
.res-two-apply {
  display: none;
}

.apply {
  overflow: hidden;
  background-color: white;
  z-index: 888888;
  transform: translateY(-40px);
  padding-block-start: 29px;
  border-radius: 25px 25px 0 0;
  position: relative;

  p {
    margin-bottom: 0;
  }


  h5 {
    font-size: 32px;
    margin-bottom: 44px;
    margin-inline-start: 50px;
    margin-top: 35px
  }

  .col-md-4 {
    @include containerCounter;
  }


  .apply-box {
    padding: 25px 50px 25px 25px;
    transition: 0.5s;
    margin-bottom: 10px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    &:hover {
      box-shadow: $box-shadow;
      transform: scale(1.1);

      .applyNow span {
        opacity: 0;
      }

      .apply-now-button {
        opacity: 1;
      }

      .apply-content::after {
        display: none;
      }

    }

    .apply-now-button {
      transition: 5s;
    }

    .num span {
      @include spanCounterAndLine;

      &::after {
        @include line;
      }

      &::before {
        @include counter;
      }
    }


    .apply-content {
      position: relative;

      .apply-content-p {
        margin-bottom: 30px;
      }

      &-p1 {
        font-weight: 400;
        font-size: 18px;
        color: $font-black-50;
      }

      &-p2 {
        font-weight: 400;
        font-size: 23px;
      }
    }

    .applyNow {
      text-align: center;

      span {
        display: block;
        width: 40px;
        height: 2px;
        background-color: rgba($color: #000000, $alpha: 0.10);
        display: inline-block;
        margin-right: 20px;
        position: absolute;
        left: -20px;
        opacity: 1;
      }

      &>button {
        @include btnYallow;
        border: none;
        margin-inline-end: 50px;
        margin-inline-end: 50px;
        position: relative;
        opacity: 0;
        transition: 1s;

        a {
          text-decoration: none;
          color: $font-text;
        }

        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          bottom: 50%;
          right: -40px;
          background-color: rgba($color: $font-text, $alpha: 0.1);
        }
      }
    }
  }

  .apply-row-2 {
    margin-top: 50px;
  }

}

.apply-now-button {
  transition: 2s all;
}

.contact {
  background-color: $font-primary;
  width: fit-content;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
  transform: rotate(-90deg) translateX(35%);
  position: fixed;
  bottom: 20%;
  right: 0;
  transform-origin: bottom right;
  text-align: center;
  text-decoration: none;
  color: black;
  z-index: 33333333;

  p {
    margin-bottom: 0;
  }

  i {
    margin-right: 25px;
    transform: rotate(90deg);
  }

  &:hover {
    color: $font-text;
  }
}

//Responsive
@media (min-width: 992px) and (max-width: 1479px) {
  .apply {
    .contact {
      display: none !important;
    }

    .contact-2 {
      display: flex !important;
      background-color: $font-primary;
      padding: 20px;
      width: fit-content;
      text-decoration: none;
      color: $font-text;
      padding: 20px 40px;
      font-size: 25px;
      font-weight: 400;
      border-radius: 0px 0px 10px 10px;
      position: absolute;
      top: 0;
      right: 30px;

      p {
        display: inline-block;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .contact {
    font-size: 18px;
    padding: 15px 19px;
    bottom: 16%;

    i {
      margin-right: 11px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1105px) {
  .apply {
    .apply-content-p1 {
      font-size: 14px !important;
    }

    .apply-content-p2 {
      font-size: 18px !important;
    }

    .applyNow a {
      font-size: 10px;
    }
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .apply {
    display: none;
  }

  .res-one-apply {
    display: block;
    padding: 30px 0;

    h5 {
      font-size: 24px;
      padding-bottom: 10px;
    }

    .swiper-wrapper {
      height: 250px;
    }


    .counter {
      @include spanCounterAndLine;


      &::after {
        @include line;
      }
    }

    .contain {
      display: flex;
      flex-direction: row;
      padding: 20px;
      width: fit-content;
      transition: 0.5s;

      &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.1);

        .icon span {
          opacity: 0;
        }

        .apply-now-button {
          opacity: 1;
        }
      }

      .applyNow {
        text-align: center;

        &>button {
          @include btnYallow;
          border: none;
          margin-inline-end: 50px;
          margin-inline-end: 50px;
          position: relative;
          opacity: 0;
          transition: 1s;

          a {
            text-decoration: none;
            color: $font-text;
          }

          &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: 50%;
            right: -50px;
            background-color: rgba($color: $font-text, $alpha: 0.1);
          }

        }
      }
    }

    .col-md-6:last-child .contain {
      justify-content: flex-end;
    }

    h5 {
      margin-bottom: 20px;
    }

    .box {
      width: fit-content;


      .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          display: block;
          width: 40px;
          height: 2px;
          background-color: rgba($color: #000000, $alpha: 0.10);
          position: absolute;
          z-index: -2222;
          opacity: 1;
        }
      }

      .p-1 {
        font-weight: 500;
        font-size: 20px;
        color: $font-black-50;
        margin-block: 0;
      }

      .p-2 {
        font-weight: 600;
        font-size: 23px;
        margin-block: 0;
      }
    }

    .swiper-pagination {
      padding-top: 50px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: black;
  }
}


@media (max-width: 770px) {
  .apply {
    display: none;
  }

  .res-two-apply {
    display: block;
    padding: 30px 0;

    .heading {
      width: 70%;
      margin-bottom: 30px;
    }

    h5 {
      font-size: 30px;
    }

    .swiper-wrapper {
      height: 450px;
    }

    .counter {
      @include spanCounterAndLine;

      &::after {
        @include line;
      }
    }

    .contain {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
      padding: 20px;
      justify-content: center;
      transition: 0.5s;

      &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.1);

        .icon span {
          opacity: 0;
        }

        .apply-now-button {
          opacity: 1;
        }
      }

      .applyNow {
        text-align: center;

        &>button {
          @include btnYallow;
          border: none;
          margin-inline-end: 50px;
          margin-inline-end: 50px;
          position: relative;
          opacity: 0;
          transition: 1s;

          a {
            text-decoration: none;
            color: $font-text;
          }

          &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: 50%;
            right: -50px;
            background-color: rgba($color: $font-text, $alpha: 0.1);
          }

        }
      }
    }


    .box {
      .icon {
        display: flex;
        align-items: center;

        span {
          display: block;
          width: 40px;
          height: 2px;
          background-color: rgba($color: #000000, $alpha: 0.10);
          display: inline-block;
          margin-right: 20px;
          position: absolute;
        }
      }

      .p-1 {
        font-weight: 500;
        font-size: 20px;
        color: $font-black-50;
        margin-block: 0;
      }

      .p-2 {
        font-weight: 500;
        font-size: 25px;
        margin-block: 0;
      }
    }

  }

  .swiper-pagination-bullet-active {
    background-color: black;
  }
}


@media (min-width: 993px) and (max-width: 1040px) {
  .apply .container {
    padding-inline: 30px !important;
  }

  .apply .apply-box .applyNow>button {
    padding: 0px 10px !important;
  }
}