@import '../../components/mixins.scss';
@import '../../components/variables';

#home {
     overflow-x: hidden;
     height: 740px;

     .mySwiperHome,
     .mySwiperHome3 {
          position: relative;
          height: 100%;

          .swiper-slide {
               background-position: top left;
               height: 100%;
          }

          .content-swiper {
               z-index: 22;
               display: flex;
               flex-direction: column;
               justify-content: center;
               width: 50%;
               color: $font-white;
               padding-inline-start: 30px;

               .titel-swiper {
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 70px;
               }

               .desc-swiper {
                    font-size: 24px;
                    line-height: 42px;
               }

               .form-select {
                    padding-left: 50px;
                    font-size: 16px;
                    line-height: 42px;

                    &:first-child {
                         margin-inline-end: 30px;
                    }
               }

               .btn-submit {
                    margin-left: 18px;

                    i {
                         padding-inline-end: 10px;
                    }

                    @include btnSecondary
               }

               &.two {
                    .btn-Practical {
                         button {
                              border: $border-light;
                              color: $font-white;
                              border-radius: $border-radius-50;
                              padding: 10px 25px;

                              &:hover {
                                   color: $font-text;
                              }
                         }
                    }

                    .desc-swiper {
                         font-size: 32px;
                         line-height: 42px;
                         margin-bottom: 10px;
                    }

                    .desc {
                         margin-top: 10px;

                         i {
                              color: $font-primary;
                              padding-right: 14px;
                              font-size: 18px;
                         }
                    }

                    .btn-view {
                         border-radius: $border-radius-50;
                         padding: 15px 30px;
                         color: $font-white;
                         border-color: $font-primary;
                         font-weight: 500;
                         font-size: 15px;

                         &:hover {
                              color: $font-text;
                              background-color: $font-primary;
                              border-color: $font-primary;
                         }
                    }



               }

               .btn-join,
               .btn-numbers {
                    @include btnSecondary;
                    border-radius: $border-radius-50;
                    padding: 15px 30px;

                    i {
                         padding-left: 15px;
                         color: $font-primary;
                    }
               }

               &.three {
                    width: 80%;

                    .number {
                         font-size: 42px;
                         color: $font-primary;
                         line-height: 24px;
                    }

                    .content {
                         span {
                              font-size: 26px;
                              font-weight: 400;
                         }

                         p {
                              font-size: 28px;
                              font-weight: 600;
                         }
                    }
               }
          }

          .swiper-button {
               width: 45px;
               height: 45px;
               background-color: $font-white;
               position: absolute;
               z-index: 3;
               border-radius: 100%;
               color: $font-text;
               @include flexCentar;

               &.next {
                    bottom: 13%;
                    right: 35%;
               }

               &.swiper-button-disabled {
                    color: #999;
                    cursor: default;
               }

               &.prev {
                    bottom: 13%;
                    right: 40%;
               }

          }

     }

     #side-bar {
          position: absolute;
          z-index: 333;
          width: 354px;
          height: 840px;
          background-color: $bg-sideBar;
          top: 0;
          right: 0;
          padding: 48px 10px 48px 20px;
          overflow: hidden;


          .academic-side {
               border-right: $border-light;
               padding-right: 10px;
               width: 75%;

               .btn-acad {
                    @include btnYallow;
               }

               .academic-list {
                    margin-top: 40px;

                    .item {
                         position: relative;
                         cursor: pointer;
                         margin-block: 20px;

                         .box {
                              font-size: 15px;
                              line-height: 30px;
                              font-weight: 400;
                              color: $font-white;
                              position: relative;

                              &::before {
                                   content: "";
                                   position: absolute;
                                   width: 40%;
                                   height: 1px;
                                   background-color: rgba(233, 230, 230, 0.1);
                                   bottom: 15px;
                                   left: 0;
                              }

                              i {
                                   padding: 0;
                              }
                         }



                         img {
                              padding-inline-end: 10px;
                         }

                         &::after {
                              position: absolute;
                              content: url('../../assets/img/section 1/icon/Component 22 – 1.svg');
                              top: -43px;
                              opacity: 0.3;
                              left: -5px;
                         }
                    }
               }
          }
     }

     .icons-side {
          position: relative;
          padding-inline: 10px 0;
          width: 25%;

          &::after {
               content: "Admissions";
               position: absolute;
               font-size: 80px;
               width: 20px;
               color: rgba(233, 230, 230, 0.05);
               transform: rotate(90deg) translate(200%, -5%);
               line-height: 40px;
          }

          .search {
               width: 45px;
               height: 45px;
               border: 1px solid $font-primary;
               @include flexCentar;
               cursor: pointer;
          }


     }
}

.social-media {
     padding-block-end: 85px;
     position: fixed;
     bottom: 23%;
     right: 10px;
     z-index: 222222222222222222;

     &>div {
          width: 45px;
          height: 45px;
          @include flexCentar;
          margin-bottom: 12px;

          i {
               font-size: 20px;
          }
     }

     .youtube {
          color: #FF0000;
     }

     .twitter {
          color: #0090FF;
     }

     .facebook {
          color: #4458B6;
     }
}

@media (min-width: 1650px) {
     #home {
          height: 840px;

          #side-bar {
               width: 510px;
               height: 840px;
          }
     }

}


@media (min-width: 1480px) and (max-width: 1650px) {
     #home {
          height: 800px;

          #side-bar {
               width: 420px;
               height: 800px;
          }
     }

}


@media (min-width: 1140px) and (max-width: 1480px) {
     #home {
          height: 760px;
          max-width: 1200px;

          .mySwiperHome {
               .content-swiper {
                    width: 65%;

                    &.three {
                         width: 75%;

                         .number {
                              font-size: 35px;
                         }

                         .content {
                              span {
                                   font-size: 22px;
                              }

                              p {
                                   font-size: 26px;
                              }
                         }
                    }

               }

               .swiper-button {

                    &.next {
                         bottom: 13%;
                         right: 32%;
                    }

                    &.prev {
                         bottom: 13%;
                         right: 38%;
                    }

               }

          }

          #side-bar {
               height: 760px;
               width: 350px;

               .academic-side {
                    .academic-list {

                         .item {
                              .box {
                                   font-size: 14px;
                              }
                         }
                    }

                    .btn-acad {
                         font-size: 14px;
                    }
               }
          }
     }
}

@media (max-width: 1139px) {
     #home {
          height: 720px;

          .mySwiperHome {
               .content-swiper {
                    width: 80%;

                    &.three {
                         width: 100%;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 13%;
                         right: 12%;
                    }

                    &.prev {
                         bottom: 13%;
                         right: 18%;
                    }

               }
          }

          #side-bar {
               display: none;
          }
     }

     #home .container {
          max-width: 920px;
     }
}

@media (max-width: 992px) {
     #home {
          height: 600px;

          .mySwiperHome {
               .content-swiper {
                    width: 100%;

                    .titel-swiper {
                         font-size: 35px;
                         line-height: 45px;
                    }

                    &.two .desc-swiper {
                         font-size: 27px;
                    }

                    &.three {
                         .titel-swiper {
                              margin-bottom: 20px !important;
                         }

                         .number {
                              font-size: 30px;
                         }

                         .content {
                              span {
                                   font-size: 20px;
                                   font-weight: 400;
                              }

                              p {
                                   font-size: 19px;

                              }
                         }
                    }
               }

               .swiper-button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;

                    &.next {
                         bottom: 10%;
                         right: 10%;
                    }

                    &.prev {
                         bottom: 10%;
                         right: 18%;
                    }

               }
          }

          #side-bar {
               display: none;
          }
     }

     #home .container {
          max-width: 840px;
     }

}

@media (max-width: 768px) {
     #home {
          .desc {
               i {
                    font-size: 16px !important;
               }
          }

          .btn-join,
          .btn-view {
               padding: 10px !important;
               font-size: 12px !important;
          }

          .titel-swiper {
               width: 100% !important;
          }

          .slider-wapper-3-large {
               display: none !important;
          }

          .slide-wapper-3-small {
               display: flex !important;

               .number {
                    line-height: 35px !important;
               }

               .content {
                    .p {
                         font-size: 15px;
                    }
               }
          }

          .mySwiperHome {
               .content-swiper {
                    width: 95%;
                    margin-inline: auto;

                    &.two .desc-swiper {
                         font-size: 24px;
                         line-height: 36px;
                    }

                    .desc-swiper {
                         font-size: 22px;
                         margin-bottom: 0;
                    }

                    .form {
                         flex-direction: column;

                         .form-select {
                              display: block;
                              margin-block: 5px;

                         }
                    }

                    .btn-submit {
                         margin-left: 0;
                         margin-top: 10px;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 13%;
                         right: 19%;
                    }

                    &.prev {
                         bottom: 13%;
                         right: 30%;
                    }

               }

          }
     }

     #home .container {
          max-width: 720px;
     }
}

@media (max-width: 670px) {
     #home {
          .mySwiperHome {
               .content-swiper {
                    width: 95%;
                    margin-inline: auto;

                    .titel-swiper {
                         font-size: 22px;
                         line-height: 30px;
                         width: 40%;
                    }

                    &.two .titel-swiper {
                         font-size: 22px;
                         line-height: 30px;
                         width: 100%;
                    }

                    &.two .desc-swiper {
                         font-size: 20px;
                         line-height: 36px;
                    }

                    .desc {
                         font-size: 15px;
                         margin-block: 10px 20px !important;
                    }

                    .desc-swiper {
                         font-size: 18px;
                         margin-bottom: 0;
                    }
               }



          }
     }
}

@media (max-width: 768px) {}