@use '../../components/mixins' as *;

#mediu-center {
     background-color: $bg-mediu-center;
     overflow-x: hidden;

     .title {
          @include waterMark;
          margin-bottom: 35px;

          &::before {
               @include wateMarkBefore;
               content: "MEDIU Center"
          }
     }

     .tabs {
          background-color: $font-primary;
          padding: 19px 5px;

          ul {
               .item {
                    padding: 25px 45px;
                    position: relative;
                    font-size: 20px;
                    font-weight: 400;
                    transition: 0.5s;
                    color: $font-text ;
                    transition: 0.4s all;

                    &.active {
                         background-color: $font-white;
                         color: $font-secondary;
                         border-radius: 5px;
                         font-size: 22px;

                         &::after {
                              content: "\f30b";
                         }

                         .icon {
                              &::before {
                                   content: url(../../assets/img/services/web-programming2.svg)
                              }
                         }
                    }

                    .icon {
                         position: relative;
                         margin-inline-end: 25px;
                         display: inline-block;

                         &::before {
                              content: url(../../assets/img/services/web-programming.svg);
                              display: inline-block;
                              width: 10px;
                              height: 15px;
                              position: absolute;
                              left: -30px;
                              top: -18px;
                         }
                    }

                    &::after {
                         color: #ED1A3B;
                         font-family: "Font Awesome 5 Free";
                         content: "";
                         position: absolute;
                         top: 36%;
                         right: 20%;
                         z-index: 33;
                         font-weight: 700;
                         font-size: 18px;
                    }

                    &:nth-child(4)::after {
                         right: 4%;
                    }

                    &:hover {
                         background-color: $font-white;
                         color: $font-secondary;
                         border-radius: 5px;
                         font-size: 22px;

                         &::after {
                              content: "\f30b";
                         }

                         .icon {
                              &::before {
                                   content: url(../../assets/img/services/web-programming2.svg)
                              }
                         }

                    }
               }

               img {
                    margin-inline-end: 20px;
                    display: inline-block;
               }

          }
     }

     .mySwiperMEDIU {
          .swiper-slide {
               width: 40%;

               .desc {
                    font-size: 20px;
                    line-height: 36px;
                    font-weight: 500;
                    width: 80%;
                    margin-top: 26px;
               }
          }

          .btn-more {
               @include btnYallow;

               &:hover {
                    border-color: transparent;
               }
          }

     }

     .btns {
          position: absolute;
          right: 40px;
          top: -75px;
          z-index: 333;

          .swiper-button {
               width: 45px;
               height: 45px;
               background-color: $font-white;
               z-index: 3;
               border-radius: 100%;
               @include flexCentar;
               color: $font-white;

               &.next {
                    background-color: $font-secondary;
                    border-radius: 50%;
               }

               &.prev {
                    background-color: $font-secondary;
                    border-radius: 50%;
                    margin-right: 30px;
               }

               &.swiper-button-disabled {
                    border: 1px solid #999;
                    color: #999;
                    background-color: $font-white;
               }
          }
     }
}