@import '../../custom';


.navbar {
     background-color: transparent;
     z-index: 4;
     width: 100%;

     .navbar-nav {
          .nav-item {
               .nav-link {
                    color: $font-white;
                    font-size: 18px;
                    line-height: 30px;
               }

               margin-inline: 10px;
          }
     }
}